*{
	box-sizing: border-box;
}
body {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
position: relative;
transition: all 250ms ease-in-out;}

section{
	width:100%;
}


.topnav {
  overflow: hidden;
  
	width:97.8%;
height:72px;
}
.white{
	background-color:white;
	color: #4289EF;
}
.topnav a {
  float:right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav: scroll{
	background-color:white;
	color: #4289EF;
}
.topnav a:hover{
	color:white;
	text-decoration:none;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 400px) {
  .topnav a{display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #4289EF;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
	color: black;
    position: absolute;
    top: 20px;
    right: 50%;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size-adjust:auto;
    top: 15px;
    right: 50%;
  }
}

@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
body, figure { 
  margin: 0; background: #101010;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;height:100%;
   padding: .6rem; 
}

#text {
    position: absolute;
    bottom: 0;
    background: rgba(71, 209, 209, 0.8);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
  
}
#text2 {
    position: absolute;
    bottom: 0;
    background: rgba(255, 92, 51, 0.8);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
   
}
#text3 {
    position: absolute;
    bottom: 0;
    background: rgba(172, 57, 172, 0.8);
    color: #f1f1f1;
    width: 100%;
    height: 100%;

}

#text4 {
    position: absolute;
    bottom: 0;
    background: rgba(0, 179, 60, 0.8);
    color: #f1f1f1;
    width: 100%;
    height: 100%;

}



#text, #text2, #text3, #text4{
  color: #f2f2f2;
  font-size: 15px;
  width: 100%;
  text-align: center;
  padding:100px,100px,100px,100px;
}


 .innerContent{
	 padding-top: 7%;
	 padding-left: 20%;
	 padding-right: 20%;
	 text-align: center;
		
}
.innerContent h2{
	font-size: 40px;
}
.innerContent p{
	font-size: 20px;
}

.btn{
	text-align: center;
	border-radius:5px;
	background-color: white;
	color:#4289EF;
	margin-top:30px;
border: none
}
	

 .innerContent{
	 padding-top: 7%;
	 padding-left: 20%;
	 padding-right: 20%;
	 text-align: center;
		
}
.innerContent h2{
	font-size: 40px;
}
.innerContent p{
	font-size: 20px;
}

#blue{
	background-image:linear-gradient(#00b0d0,#00b0d0);
	background-size: calc(100% + 7px) 8px; 
	background-position: 0 90%; 
	background-repeat: no-repeat;
}

#pink{
	
	background-image: linear-gradient(#f4587a,#f4587a);
	background-size: calc(100% + 7px) 8px; 
	background-position: 0 90%; 
	background-repeat: no-repeat;
}

#green{
	background-image: linear-gradient(#00a68e,#00a68e);
	background-size: calc(100% + 7px) 8px; 
	background-position: 0 90%; 
	background-repeat: no-repeat;
}


button.btn{
	text-align: center;
	border-radius:5px;
	background-color: white;
	color:#4289EF;
	
	border: none;
	padding: 10px, 40px, 40px, 10px;
	font-size: 15px;
}
.btn:hover{
	background-color: none;
	border-color: white;
}

@media screen and (min-width: 400px) {
  div.innerContent h2,p{
    font-size-adjust: auto;
  }
 
}
@media screen and (max-width: 400px) {
  div.innerContent h2,p {
    font-size-adjust:auto;
  }
 
  .container{
	  height:400px;
  }
}

}
.btn:hover{
	background-color: none;
	border-color: white;
}

@media screen and (min-width: 400px) {
  div.innerContent h2 {
    font-size: 40px;
  }
  div.innerContent p {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  div.innerContent h2 {
    font-size-adjust: auto;
  }
  div.innerContent p {
    font-size-adjust:auto;
  }
 
}

img{
		width:620px;
		height:550px;
	}
	@media only screen and (max-width: 600px) {
	
	img.screen{
		width:95%;
		height:95%;
		}
	h2 {
		font-size-adjust: 80%;
       }
    h3 {
		font-size-adjust: auto;
		}
	button.btnn{
		margin-top:-10px;
	}
	}
	
	@media only screen and (max-width: 800px) {
		
	img.screen{
		width:90%;
		height:90%;
		}
	}
	
	
	
	
	
.container h3{
	color:#a6a6a6;
	
}
.screen{
	margin-bottom:20px;
}


container{
	margin:50px,0,50px,0;
	
}
section.sec{
	padding-top:80px;
	padding-bottom:80px;
}
section h2,h3{
	padding-left:10px;
	padding-right:10px;
}

button.btnn{
	left:0;
	right:0;
	cursor:pointer;
	display:block;
	top:50%;
	padding:10px 40px 10px 40px;
	margin-bottom:20px;
	background-color: #4289EF;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	line-height:19px;
	font-family:Lato;
	margin-left:10px;
}

.footer-content{
	color:#00bfff;
	margin:10px;
	font-size:15px;
}

.footer-list a{
	color:#bfbfbf;
	line-height:15px;
	font-size:14px;
	margin-bottom:16px;
}

footer a,p{
	margin-bottom: 16px;
}

footer{
	text-align:center;
}

footer.col-xs-12{
	margin:30px;
}

.fa {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
   
}
